body{
    width: 70%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.resume_basic_section{
    display: flex;
}

.resume_contact_information{
    padding: 25px;
    background-color: #f4d284;
    width: 20%;
}

.contact_name{
    font-size: 32px;
    color: #343b30;
    font-weight: 700;
}

.personal_info_list{
    list-style: none;
    padding: 0 !important;
}

.personal_info_list a{
    text-decoration: none;
    color: #343b30;
}

.personal_info_list li, .skill{
    color: #343b30;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 5px;
}

.resume_profession_summary{
    background-color: #fdf6e6;
    padding: 25px;
    width: 80%;
}

.summary_heading, .skill_heading{
    font-size: 18px;
    color: #343b30;
}

.summary_description{
    font-size: 15px;
    color: #343b30
}

.skills_section{
    display: flex;
}
.skills{
    width: 20%;
    background-color: #fdf6e6;
    padding: 25px;
}

.profession_experience{
    width: 80%;
    padding: 25px;
}

.skills_wrapper{
    margin: 0;
    padding: 0 10px;
}

.skill_heading{
    margin-bottom: 10px;
}

.working_exp_list li{
    margin-bottom: 10px;
}















