.calculate_inputs{
    width: 20vw;
    background-color: #ff385c;
    padding: 20px;
}


.calculate_inputs .inputField{
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.calculate_inputs{
    display: flex;
    flex-direction: column;
}

.submit_btn{
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.submit_btn:hover{
    background-color: #ffffff;
    color: #ff385c;
}

p#calculatedResult {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin-top: 30px;
    color: #ff0049;
    font-weight: 700;
    background: #fff;
}
